{{header-display}}

<li class="post-update">
  <img src={{post.image}}>
  <div class="inner-box">
    <h2>{{post.title}}</h2>
    <h3><em>{{post.subtitle}}</em></h3>
    <h4><em>By {{post.author}}, {{post.date}}</em></h4>
    {{formattedContent}}
  </div>
</li>
{{#each model.posts as |post|}}
  {{update-post post=post update='update'}}
{{/each}}
